.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    width: 100%;
    z-index: 999;
    background-color: #ffffff; 
    color: rgb(53, 51, 51); 
    padding-left: 5%;
    padding-right: 5%;
  }
  .leftside{
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap:10px;
    justify-content: center;
  }
  .logo {
    margin-right: 1rem;
  }
  .searchBox {
    display: flex;
    width: 400px;
  }
  
  .searchInput {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    /* outline: none; */
  }
  .menuIcon {
    display: flex;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
  }
  
  .navList {
    list-style: none;
    display: flex;
  }
  
  .navItem {
    margin-right: 1rem;
  }
  
  @media (max-width: 768px) {
    .menuIcon {
      display: block;
    }
  
    .navList {
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 70px; 
      left: 0;
      background-color: #ffffff;
      width: 100%;
      padding: 1rem;
    }
  
    .navList.open {
      display: flex; 
    }
  
    .navItem {
      margin-bottom: 0.5rem;
    }
  }
  